= link_to 'New Genre', new_location_genre_path(@location)

%ul#sortable.ui-sortable.small-block-grid-2.large-block-grid-4
  = render @genres

:coffee
  jQuery ->
    $('#sortable').sortable
      cursor: 'move'
      forcePlaceholderSize: true
      stop: ->
        data = {}
        $('#sortable li').each (index, element)->
          data[$(element).data('id')] = index

        $.ajax
          data:
            new_position: data
          type: 'PUT'
          url: '/genres/reorder'

