.row
  %h2 Welcome
  %p
    %strong The James Coleman Signature Gallery
    features the largest collection of James Coleman’s works in the world.
    Opened to an enthusiastic public in November of 1999, we represent many internationally collected artists, such as Steve Barton, Fidel Garcia, Alexandru Darida, Roy Tabora, Rodel Gonzalez, Jim Warren, Phillip Anthony, Ahmed Eltemtamy, Boban, Frogman, Dino Rosin, Adriana Dalla Valentina and Daum.
  %p
    We have expanded our collection of fine jewelry to an entire store.
    Frank Reubel Designs is largely represented with an amazing selection of unique and modern designs.
    We continue to have jewelry inlayed with Australian gemstone opal, diamonds, and other precious stones by Nagalle Designs.
    We also represent a variety of jewelry designed by Steven Douglas.
  %p
    Well known and highly respected impressionist artist, James Coleman, graciously lends his name and fine art to the Gallery as our signature artist.
    Coleman spent over 20 years as a background artist and supervisor with Walt Disney Animation Department.
    He was responsible for many of the hand-painted backgrounds in such classics as “Winnie the Pooh” and “The Little Mermaid.” 
  %p
    The feeling and atmosphere throughout the Gallery is light, bright, casual, tropical, and colorful.
    We invite everyone to enter, relax, and enjoy the visual sensations provided by these talented artists.
    All of the art is “feel good” art that transports the viewer to tranquil and happy places in their minds.
  %p
    Located in lovely St. Augustine, Florida, the nations oldest city, we are conveniently accessed from Jacksonville, Orlando, and Daytona Beach.
    James Coleman Signature Gallery is adjacent to the lobby of the historic Casa Monica Hotel, a newly renovated, 136 room hotel originally built in 1888.
    The Casa Monica offers luxurious rooms and suites in the historic downtown area of St. Augustine.
