= provide :title, @artist.name

= link_to 'New Image', new_location_artist_pic_path(location_id: @location, artist_id: @artist)

%ul.small-block-grid-2.large-block-grid-4
  = render @pics

= will_paginate @pics
